
  <div id="templatemo_header">

    <div id="site_title">
      <h1>
      
        <a><img src="assets/images/logo4.png" alt="logo" width="190" height="90"></a>
        <a rel="nofollow">  <strong id="heading">AgriCommerce</strong><span> Buy Fresh
            Vegetables and Fruits</span></a>
      </h1>
    </div>
    <div class="cleaner"></div>
  </div>

  <div id="templatemo_menu">
    <span></span>
    <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
    <a [routerLink]="['/about']" routerLinkActive="active">About</a>
    <a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
    <a [routerLink]="['/registration']" routerLinkActive="active">Registration</a>
    <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
  </div>
  <div>
   </div>

  <!-- End NavBar Section -->

  <footer class="site-footer">

    <div class="icons copy-icons">
      <p class="copyright-text">
        <span class="copy"> Copyright &copy; 2023 All Rights Reserved
          by <a href="#">AgriCommerce Company</a>.
        </span>
  
        <!-- icons -->
        <span class="icon"> <a href="#"><i id="social-fb"
            class="fa fa-facebook-square fa-3x social"></i></a> <a href="#"><i
            id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> <a
          href="#"><i id="social-gp"
            class="fa fa-google-plus-square fa-3x social"></i></a> <a href="#"><i
            id="social-em" class="fa fa-envelope-square fa-3x social"></i></a></span>
      </p>
  
    </div>
  </footer>
  <router-outlet></router-outlet>
