
<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <title>AgriCommerce</title>
</head>

<body>
  <div id="templatemo_header">

    <div id="site_title">
      <h1>

        <a><img src="../logo4.png" alt="logo" width="190" height="90"></a> <a rel="nofollow">
          <strong id="heading">AgriCommerce</strong><span> Buy Fresh
            Vegetables and Fruits</span></a>
      </h1>
    </div>
    <div class="cleaner"></div>
  </div>

  <div id="templatemo_menu">
    <span></span>
    <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
    <a [routerLink]="['/about']" routerLinkActive="active">About</a>
    <a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
    <a [routerLink]="['/registration']" routerLinkActive="active">Registration</a>
    <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
  </div>
  <div>
   </div>

  <!-- End NavBar Section -->

</body>

</html>
  <router-outlet></router-outlet>
